<div class="example-container" >
  <mat-form-field class="example-full-width">
        <input matInput placeholder="Insert Employee Id" [(ngModel)]='employeeId' >
  </mat-form-field>
  <button mat-raised-button (click)="getEmployees()" color="warn">Get Employees</button>
</div>


<h3 *ngIf="!tableHidden">Employees Table</h3>
<div class="mat-elevation-z8 data-table ">
  <mat-table #table  *ngIf="!tableHidden"[dataSource]="employees" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.name}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Contract Type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Contract Type</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.contractTypeName}}</mat-cell>
    </ng-container>

    <!-- Role Id Column -->
    <ng-container matColumnDef="Role Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Role Id</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.roleId}}</mat-cell>
    </ng-container>

     <!-- Role Name Column -->
     <ng-container matColumnDef="Role Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.roleName}}</mat-cell>
    </ng-container>

     <!-- Role Description Column -->
     <ng-container matColumnDef="Role Description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Role Description</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.roleDescription}}</mat-cell>
    </ng-container>

     <!-- Hourly Salary Column -->
     <ng-container matColumnDef="Hourly Salary">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hourly Salary</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.hourlySalary}}</mat-cell>
    </ng-container>

       <!-- Monthly Salary Column -->
       <ng-container matColumnDef="Monthly Salary">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Monthly Salary</mat-header-cell>
        <mat-cell *matCellDef="let employee">{{employee.monthlySalary}}</mat-cell>
      </ng-container>

         <!-- Calculated AnnualSalary Column -->
     <ng-container matColumnDef="Calculated Annual Salary">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Calculated Annual Salary</mat-header-cell>
      <mat-cell *matCellDef="let employee">{{employee.calculatedAnnualSalary}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>


